html,
body {
	margin: 0;
	padding: 0;
}


button {
	margin: 1;
	padding: 1;
	border: 1;
	border: none;
	background: none;
	background-color: #666666;
	color: #CCCCCC;
	font: 14px 'Consolas', Helvetica, Arial, sans-serif;
	vertical-align: baseline;
	/*font-family: inherit;*/
	-webkit-appearance: none;
	/*-moz-appearance: none;*/
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}


body {
	background-color: #FFF;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.home {
	width: 90%;
	padding: 13px 17px 12px 17px;
	font-family: Helvetica,Arial,sans-serif;
	font-size:14px;
}

.main {
	position: relative;
	padding: 0px 0px 0px 15px;
	z-index: 2;
	width: 80%;
}

.mainMenu {
	width: 80%;
	padding: 6px;
}

.mainMenuItem {
	width: 90px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 10px;
}

.power {
	/*width: 400px;*/

}

.toggle {
	font: 12px 'Consolas', Helvetica, Arial, sans-serif;
}

.toggle-disabled {
  cursor: default;
  background-color: transparent;
  border: 0;
  padding: 0;
}

.draft {
	color: #333;
}

.team {
  color: #333;
}

.playerList {
	margin-left: 8px;
	display:table;
}

.playerRow {
	display:table-row;
	margin-top: 2px;
	margin-bottom: 2px;
	color: #666;
	width: 100%;
}

.mainMenuItem {
	cursor:pointer;
	border-style: solid;
	border-color: #666;
}

.mainMenuItem:hover {
	color: #000;
	background-color: #FFF;
	border-style: solid;
	border-color: #000;
}

.listAction { 
	margin-top: 2px;
	margin-bottom: 2px;
	display:table-cell;
	color: #666;
	background-color: #CCC;
	cursor: pointer;
}

.listAction:hover {
    background-color: yellow;
}

.playerAction {
	display:table-cell;
	color: #666;
	background-color: #CCC;
	cursor: pointer;
}

.playerAction:hover {
    background-color: yellow;
}

.playerName {
	display:table-cell;
	color: #666;
	width: 150px;
}

.playerSkill {
	display:table-cell;
	color: #999;
	width: 90px;
	text-align:: right;
	padding: 2px;
}

.playerSkillValue {
	display:table-cell;
	color: #999;
	width: 60px;
	text-align:: right;
	padding: 1px;
}
